<div  class="product-item" >
    <div class="product-img">
        <img src={{product.img}} alt="product" >
    </div>
    <h3>
        <a  [title]="product.name + ' details'" 
            [routerLink]="['/products', product.id]">
            {{product.name}}
        </a>
    </h3>

    <p *ngIf="product.description">
        Description: {{ product.description }}
    </p>
    <button type="button" (click)="share(product.amazon_link)">
        Share
    </button>

    <app-product-alerts
        (notify)="onNotify()"
        [product]="product">
    </app-product-alerts>
</div>